body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .name{
    margin-top: 0rem;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
.container{
    border: 1px solid grey;
    margin: auto;
    width: 90%;
    display: flex;
    padding:  2em 0;
    text-align: center;
  flex-direction: row;
    /* justify-content: space-between; */



    flex-shrink: 0;
flex-flow: row wrap;
justify-content: space-around;
/* align-items: flex-start; */
}
.delete-button{
    float: right;
margin: 0.7em;
position:sticky;
}
h1,
.input{
    width: 100%;

margin-bottom: 1rem;}

column{
    
    width: 40%;
    height: 4rem;
    background-color: rgb(234, 242, 247);
    font-size: 1rem;
    border: 1px solid rgb(198, 212, 231);
    border-radius: 1em;
    margin-bottom: 1em;
}
@media(max-width:1000px){
    .container{
        flex-direction: column;
        justify-content: center;
align-items: center;
    }
    column{
        width: 90%;

    }
    
}